:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 48px 64px;
}

@media (max-width: 768px) {
  .content {
    padding: 24px 16px;
  }
}
